body {
  font-family: "Arial", sans-serif;
  line-height: 1.6;
  min-width: 400px;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  text-align: center;
  margin: 2rem;
}

h1,
h2,
h3 {
  color: #333;
}

h2 {
  border-bottom: 2px solid #333;
  padding-bottom: 5px;
}

h3 {
  margin-top: 20px;
}

p {
  margin: 10px;
}

ol,
ul {
  margin: 20px;
}

li {
  margin-bottom: 5px;
}

.illustration {
  display: flex;
  justify-content: center;
  margin: 15px;
  max-height: 500px;
}

img {
  max-width: 70%;
  height: auto;
  margin-bottom: 20px;
  border-radius: 5px;
}

.tabbar {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  background-color: #f1f1f1;
  overflow: hidden;
  border-radius: 5px;
}

.tab {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  height: 80px;
  text-align: center;
  flex: 1;
  cursor: pointer;
  transition: background-color 0.3s;
}

.tab:hover {
  background-color: #ddd;
}

.active-tab {
  display: block;
}

.tab-content {
  padding: 10px;
}
